
<footer class="site-footer">
  <div class="footer-text">
    © Yashika Lanjewar · All rights reserved
  </div>

  <div class="footer-icons">
    <a href="https://www.linkedin.com/in/yashika-lanjewar-78b619177/" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://www.facebook.com/yashika.lanjewar.7/" aria-label="Facebook" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square"></i></a>
    <a href="https://www.instagram.com/_notsosane/" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
    <a href="https://github.com/Yashika2000" aria-label="GitHub" target="_blank" rel="noopener noreferrer"><i class="fa fa-github-square"></i></a>
  </div>
</footer>
