  <header class="topbar">
    <div class="brand">
      <div class="logo-dot" aria-hidden="true"></div>
      <div class="brand-title">WritersJournal</div>
    </div>

    <nav class="navlinks">
      <a class="{{#if (eq active 'about')}}is-active{{/if}}" href="/about">About</a>
      <a class="{{#if (eq active 'write')}}is-active{{/if}}" href="/write">Write</a>
      <a class="{{#if (eq active 'contact')}}is-active{{/if}}" href="/contact">Contact</a>
    </nav>
  </header>