<section class="page-header">
  <h1>Photography</h1>
  <p class="subtitle">A visual journal of places and quiet moments.</p>
</section>
<section class="masonry-section">
  <section class="masonry">
    <img src="/images/p1.jpg" alt="">
    <img src="/images/p2.jpg" alt="">
    <img src="/images/p3.jpg" alt="">
    <img src="/images/p4.jpg" alt="">
    <img src="/images/p5.jpg" alt="">
    <img src="/images/p6.jpg" alt="">
    <img src="/images/p7.jpg" alt="">
    <img src="/images/p8.jpg" alt="">
    <img src="/images/p9.jpg" alt="">
    <img src="/images/p10.jpg" alt="">
    <img src="/images/p11.jpg" alt="">
    <img src="/images/p12.jpg" alt="">
    <img src="/images/p13.jpg" alt="">
    <img src="/images/p14.jpg" alt="">
    <img src="/images/p15.jpg" alt="">
  </section>
</section>
